

<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-offset-2 col-md-8">

		<div class="panel panel-default">
			<div class="panel-heading center"> <%= image_tag @post.image.url(:medium) %></div> 
			<div class="panel-body"
				
				<strong><%= @post.description %></strong> <br/>


			<strong><%= @post.user.name %></strong> <br/>


			<% if @post.user == current_user %>
				<%= link_to edit_post_path(@post) do %>
					<span class="glyphicon glyphicon-edit"></span> Edit
				<%end%> |

			<%end%>
				<%= link_to posts_path do %>
					<span class="glyphicon glyphicon-arrow-left"></span> Back
				<%end%>

			
		</div>
	</div>
</div>