<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  
</head>
<body>

	<% flash.each do |name, message| %>
	  <div class="flash-message flash-message-<%= name %>">
	    <%= message %>
	  </div>
	<% end %>


<%= render 'users/header' %>

<div class="container">

<% if current_user %>
  <p> Hello <%= current_user.name %> </p>
  
<% else %>
  <%= link_to 'Login', login_form_path %> |
  <%= link_to 'Signup', new_user_path %>
<% end %>

	<%= yield %>
</div>

</body>
</html>
